@import '../../scss/variables.scss';

// @file
// Flow chart

.flow-chart {
  background-color: $blue-dark;
  border: 1px solid $blue-light;
  height: rem(600px);

  * {
    transition: none; // disable to avoid flow chart conflicts
  }

  // Override react-flow-render styles
  // quick way to updadte look & feel
  .react-flow__node {
    background-color: transparent;
    color: $white;
    border: 0;
    padding: 0;
    width: auto;
  }

  .react-flow__edge-path {
    stroke: rgba(255,170,113, 0.5);
  }
}