@import '../../scss/variables.scss';

// @file
// Header

.header {
  padding: $spacing-2 0;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;

}

.header__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}